<div class='user-list' *ngIf='isOwner()'> 
  <div class="user-card" *ngFor="let board of shareBoards">
    <div>{{board.username}} ({{board.accessLevel}})</div>
    <a class='btn btn-primary' (click)="onClickUnsubscribe(board.id)"  *ngIf='!(loginService.getUsername() == board.username)'>x</a>
  </div>
  <button class="btn btn-primary" (click)='onClickShareBoard(boardId, $event)'>Share to</button>
</div>

<div class='user-list' *ngIf='!isOwner()'> 
  <div class="user-card" *ngFor="let board of shareBoards">
    <div>{{board.username}} ({{board.accessLevel}})</div>
    <a class='btn btn-primary' (click)="onClickUnsubscribe(board.id)" *ngIf='loginService.getUsername() == board.username'>x</a>
  </div>
</div>

