var token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0OTEzODA5MDYsImVtYWlsIjoidXNlckBtYWlsLmNvbSIsInVzZXJuYW1lIjoiZXRoYW4iLCJ1c2VyX2lkIjo1fQ.G4v1QqzEM2bxsD_IWHHWTJvynpct2Wk_AYrjtKGSF9E'

var socket = new WebSocket('ws://127.0.0.1:8000/' + "?" + $.param({"token": token})

socket.onmessage = function(e) {
    alert(e.data);
}