<template ngbModalContainer></template>
<div class='header'>
	<div>

	</div>

	<div class='card-list' >
		<div>
			<div class='card style-list' *ngFor="let list of lists;let i=index;" >
				<h4 class='сard-title'>{{list.title}}</h4>
				
				<div class='card-text dragula-card-bag' [attr.data-id-list]='i' [dragula]='"bag-one"' [dragulaModel]="list.posts">	
					<div *ngFor="let post of list.posts; let j=index " class='card-block card-success card-block-low-padding' 
									(click)="onClickOpenPost(post.id, $event)" [attr.data-id-post]='post.id'>
						<div class='title'>{{post.title}}</div>
					</div>
				</div>

				<div class="collapse-text" *ngIf="!isCollapsedArray[i] && isListOwner(list.owner)" (click)="onClickOpenAddPostCollapse(i);" 
					[attr.aria-expanded]="!isCollapsedArray[i]" aria-controls="collapse">
						{{TEXT_ADD_NEW_POST_COLLAPSE}}
				</div>

				<!-- Collapse code -->
				<div [ngbCollapse]="!isCollapsedArray[i]">
					<textarea class="form-control" placeholder='{{TEXT_MAX_LENGTH_TITLE}}' [(ngModel)]="listInput[i]"></textarea>
					
					<button class="btn btn-success" (click)="onClickAddPost(i, list.id)">{{TEXT_ADD_NEW_POST}}</button>
					<button class="btn btn-danger" (click)="onClickAddPostClose(i)">{{TEXT_ADD_CLOSE}}</button>
				</div> 
				<!-- Collapse end -->

			</div>
		</div>
		<div class='card style-list create-list' *ngIf="!isCreateButtonCollapsed" (click)="onClickOpenAddListCollapse()">
			{{TEXT_CREATE_LIST}}
		</div>

		<div *ngIf="isCreateButtonCollapsed" class='card style-list create-list'>
			<input type='text' class='form-control' [(ngModel)]="inputListTitle" placeholder="Enter list title">
			<button class="btn btn-success" (click)="onClickAddList()">{{TEXT_ADD_NEW_LIST}}</button>
			<button class="btn btn-danger" (click)="onClickAddListClose()">{{TEXT_ADD_CLOSE}}</button>
		</div>
	</div>
</div>