.card-list {
	overflow: auto;
	overflow-y: hidden;
 	white-space: nowrap;
 	height: 100%;

}

.title {
	color: red;
}

.card-block > div {
	min-width: 270px;
	max-width: 270px;
	white-space: initial;
	word-wrap: break-word;
}

.card {
	min-width: 270px;
	max-width: 300px;
}

div.style-list {
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 10px;
	vertical-align: top;
}


div.list-title {
	border: 1px solid black;
}

div.post-list .post {
	border: 1px solid black;
}

div.card-block-low-padding {
	padding: 0.1rem;
	margin: 0.1rem;
}

