<input type='text' [(ngModel)]="inputListTitle" placeholder="Enter list title">
<button (click)="onClickAddList()">{{TEXT_ADD_NEW_LIST}}</button>
<div class='card style=list' *ngFor="let list of lists">
	<h4 class='сard-title'>title: {{list.title}}</h4>

	<div class='card-text'>
		<div *ngFor="let post of list.posts" class='card-block card-success card-block-low-padding'>
			<ul class='list-group'>
				<li class="list-group-item">post id: {{post.id}}</li>
				<li class="list-group-item">post title: {{post.title}}</li>
				<li class="list-group-item">post text: {{post.text}}</li>
			</ul>
		</div>
		<button class="btn btn-primary" (click)="onClickAddPost(list.id)">{{TEXT_ADD_NEW_POST}}</button>
	</div>
</div>