div.list {
	margin-bottom: 10px;
}

div.list-title {
	border: 1px solid black;
}

div.post-list .post {
	border: 1px solid black;
}

div.card-block-low-padding {
	padding: 0.1rem;
	margin: 0.1rem;
}

