<div *ngIf="post">
	<div class="modal-header">
		<div class='card-title'>
			<input type='text' (blur)='onBlurUpdateTitle(title)'  class="form-control" [(ngModel)]="title" >
		</div>

		<div class='header button-close'>
			<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
		</div>
	</div>

	<div class="modal-body">
		<textarea (blur)='onBlurUpdateText(description)' class="form-control"[(ngModel)]="description" placeholder={{TEXT_PLACEHOLDER_DESCRIPTION}}></textarea>
	</div>
	<div class='modal-body'>
		<div>
			<input type='text' class='form-control' [(ngModel)]='commentary' (keyup.enter)='onEnterPostComment()' 
				placeholder="{{TEXT_PLACEHOLDER_COMMENTARY}}">
			<div *ngFor="let comma of post.commentaries" class="commentary">
				<div class="commentary-user">{{comma.username}}</div>
				<div class="commentary-text">{{comma.text}}</div>
				<div class="commentary-date">{{comma.getDate()}}</div>
			</div>
		</div>
	</div>
<div>