<div *ngIf="post">
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
		
		<div *ngIf="!isTitleCollapsed">
			<a (click)="isTitleCollapsed = !isTitleCollapsed">{{title}}</a>
		</div>

		<div *ngIf="isTitleCollapsed">
			<textarea (blur)='onBlurUpdateTitle(title)' class="form-control"[(ngModel)]="title"></textarea>
		</div>

			
		
	</div>

	<div class="modal-body">
		<textarea (blur)='onBlurUpdateText(description)' class="form-control"[(ngModel)]="description" placeholder={{TEXT_PLACEHOLDER_DESCRIPTION}}></textarea>
		<div>
			<div>{{TEXT_ADD_COMMENT}}</div>
			<div *ngFor="let comma of post.commentaries">
				<div>{{comma.username}}</div>
				<div>{{comma.text}}</div>
				<div>{{comma.created}}</div>
			</div>
		</div>
	</div>
<div>