<div class="modal-window" *ngIf="post">
	<div class="modal-header">
		<div class='modal-header-title'>
			<input [readonly]="isReadonly" type='text' (blur)='onBlurUpdateTitle(title)'  class="form-control" [(ngModel)]="title" >
		</div>
		<div class="modal-header-close">
			<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>

	<div class="modal-body description-wrapper">
			<span class="description-title">{{TEXT_DESCRIPTION_TITLE}}</span>
			<div *ngIf="!isDescriptionCollapsed" (click)="isDescriptionCollapsed=true">
				<a class="description-link" *ngIf="isDescriptionBlank()">{{TEXT_BLANK_DESCRIPTION}}</a>
				<a class="description-link writed" *ngIf="!isDescriptionBlank()">{{description}}</a>
			</div>
			
			<div *ngIf="isDescriptionCollapsed">
				<textarea [readonly]="isReadonly" (blur)='onBlurUpdateText(description)' class="form-control description-text" [(ngModel)]="description" placeholder={{TEXT_PLACEHOLDER_DESCRIPTION}}></textarea>
				<button *ngIf="!isReadonly" class="btn btn-success" (click)="onClickUpdateText(description)">{{TEXT_BUTTON_POST_DESCRIPTION}}</button>
				<button class="btn btn-secondary btn-close" (click)="isDescriptionCollapsed=false">{{TEXT_BUTTON_CLOSE}}</button>
			</div>
	</div>

	<div class='modal-body commentary-posting-form'>
		<h3 class="commentary-posting-form-title">{{TEXT_COMMENTARY_TITLE}}</h3>
		<div class="commentary-avatar-wrapper">
			<img class="commentary-avatar" src="{{loginService.getAvatarUrl()}}">
		</div>
		<div class="commentary-posting-form-area">
			<textarea type='text' class='form-control' [(ngModel)]='commentary'	placeholder="{{TEXT_PLACEHOLDER_COMMENTARY}}"></textarea>
			<button class="btn btn-success" (click)="onEnterPostComment()">{{TEXT_BUTTON_POST_COMMENT}}</button>
			<div class="share">
				<a class="share-link" (click)="isShareCollapsed=!isShareCollapsed">{{TEXT_SHARE_LINK}}</a>
				<div *ngIf="isShareCollapsed" class="window">
					<div class="window-header">
						<span>Your link</span>
						<a class="close" (click)="isShareCollapsed=false">x</a>
					</div>
					<div class="window-body">
						<input (focus)="onFocusSelectText($event)" (click)="onFocusSelectText($event)" type="text" [readonly]="true" select-on-click value="http://localhost:4200/{{makeUrl()}}" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='modal-body'>
		<div>
			<div *ngFor="let comma of post.commentaries | reverse" class="commentary clearfix">	
					<div class="avatar-wrapper">
						<img class="commentary-avatar" src={{comma.avatarUrl}}>
					</div>
					<div class="commentary-info-wrapper">
						<div class="commentary-user">{{comma.username}}</div>
						<div class="commentary-text">{{comma.text}}</div>
						<div class="commentary-date">{{comma.getDate()}}</div>
					</div>
				
			</div>
		</div>
	</div>
<div>