a.link-none:hover {
	text-decoration: none; 
}

a.link-none {
	text-decoration: none;
}

div.hellower button {
	margin-right: 1rem;
}

div.hellower,
div.card,
div.card-block ul {
	margin-bottom: 1rem;
}
	

div.card a {
	color: white;
}

