a.link-none:hover {
	text-decoration: none; 
}

a.link-none {
	float: left;
	margin: 1rem;
	text-decoration: none;
}

div.hellower button {
	margin-right: 1rem;
}

div.hellower,
div.card,
div.card-block ul {
	margin-bottom: 1rem;
}
	

div.card a {
	color: white;
	width: 200px;
	height: 200px;
}

