<template ngbModalContainer></template>
<div class='container header'>
	<div>
		<a class='link-none' *ngFor="let board of ownerBoards"  [routerLink]="['/boards', board.id]">
			<div class="card">
				<div class="card-menu-header">
					<div class="card-title"><span class='card-title-span'>{{board.title}}</span></div>
					<div class="card-buttons">
						<button *ngIf="board.accessLevel == 'owner'" (click)='onClickShareBoard(board.id, $event)' class='btn btn-info'>{{TEXT_SHARE_BOARD}}</button>
						<button *ngIf="board.accessLevel == 'owner'" (click)="onClickDeleteBoard(board.id, $event)" class='btn btn-danger'>{{TEXT_DELETE_BOARD}}</button>
					</div>
				</div>
			</div>
		</a>

		<a class='link-none' *ngFor="let board of sharedBoards"  [routerLink]="['/boards', board.id]">
			<div class="card">
				<div class="card-menu-header">
					<div class="card-title"><span class='card-title-span'>{{board.title}}</span></div>
					<div class="card-buttons">
						<button *ngIf="board.accessLevel == 'owner'" (click)='onClickShareBoard(board.id, $event)' class='btn btn-info'>{{TEXT_SHARE_BOARD}}</button>
						<button *ngIf="board.accessLevel == 'owner'" (click)="onClickDeleteBoard(board.id, $event)" class='btn btn-danger'>{{TEXT_DELETE_BOARD}}</button>
					</div>
				</div>
				<div class="card-menu-footer"><span>Provided by <b>{{board.boardOwner}}</b> for {{board.accessLevel}}</span></div>
			</div>
		</a>

		<div class="card card-create" (click)="onClickCollapseForm()">
			<div class="card-menu-header create">
				<div class="card-title"><span class='card-title-span'>Create new</span></div>
				<div class="card-input" id="collapseCreateForm" [ngbCollapse]="isCollapsed">
					<input type="text" class="form-control" (click)="stopPropagation($event)" [(ngModel)]="boardTitle" (keyup.enter)="onEnterCreateBoard()" placeholder="{{TEXT_CREATE_BOARD}}">
				</div>
			</div>
		</div>
	</div>
</div>
