
<div class="container">
	<h1>Hello, <b>{{username}}</b></h1>
	<div class="hellower form-inline">
		<button class='btn btn-info' (click)='onClickGetBoards()'>{{TEXT_UPDATE_BOARD}}</button>
		<button class='btn btn-info' (click)='onClickCreateBoard()'>{{TEXT_CREATE_BOARD}}</button>
		<input class="form-control" type="text" [(ngModel)]="boardTitle">
	</div>
	<template ngbModalContainer></template>
	<div *ngIf="boardList.length">
		<a class='link-none' *ngFor="let board of boardList"  [routerLink]="['/boards', board.id]">
			<div class="card" style="width: 20rem;">
				<div class="card-block">
					<ul class="list-group">
						<li class="list-group-item list-group-item-success">board id: {{board.id}}</li>
						<li class="list-group-item list-group-item-success">owner: {{board.boardOwner}}</li>
						<li class="list-group-item list-group-item-success">title: {{board.title}}</li>
						<li class="list-group-item list-group-item-success">accessLevel: {{board.accessLevel}}</li>
					</ul>
					<span *ngIf="board.accessLevel == 'owner'">
						<a (click)='onClickShareBoard(board.id, $event)' class='btn btn-primary'>{{TEXT_SHARE_BOARD}}</a>
						<a (click)="onClickDeleteBoard(board.id, $event)" class='btn btn-primary'>{{TEXT_DELETE_BOARD}}</a>
					</span>
				</div>
			</div>
		</a>

	</div>
</div>