<button class="fancy-button" [disabled]="!(boardsLength > 0)" (click)="isMenuCollapsed=!isMenuCollapsed">
{{TEXT_BUTTON_GLOBAL}}
</button>

<div closeNgIf [(toggle)]="isMenuCollapsed" *ngIf="isMenuCollapsed" class="fancy-menu" >
    
    <input class="fancy-search form-control" [(ngModel)]="searchInput" 
        (input)="onChangeSearch()" placeholder="{{TEXT_SEARCH_INPUT_PLACEHOLDER}}">
    
    <div *ngIf="searchInput.trim() !== ''">
        <app-boardlist-dropdown-bag [boards]="searchOwnerBoards" 
            [title]="TEXT_OWNER_USER" [isShared]="false" 
            (boardClicked)="isMenuCollapsed = !($event)"></app-boardlist-dropdown-bag>
        <app-boardlist-dropdown-bag [boards]="searchSharedBoards" 
            [title]="TEXT_OWNER_NOT_USER" [isShared]="true" 
            (boardClicked)="isMenuCollapsed = !($event)"></app-boardlist-dropdown-bag>
        <div class="fancy-nothing-found" *ngIf="searchOwnerBoards.length == 0 && searchSharedBoards.length == 0">{{TEXT_SEARCH_BLANK}}</div>
    </div>

    <div *ngIf="searchInput.trim() === ''">
        <app-boardlist-dropdown-bag [boards]="ownersBoards" 
            [title]="TEXT_OWNER_USER" [isShared]="false" 
            (boardClicked)="isMenuCollapsed = !($event)"></app-boardlist-dropdown-bag>
        <app-boardlist-dropdown-bag [boards]="sharedBoards" 
            [title]="TEXT_OWNER_NOT_USER" [isShared]="true" 
            (boardClicked)="isMenuCollapsed = !($event)"></app-boardlist-dropdown-bag>
    </div>

</div>