.fancy-button {
    width: 90px;
    height: 30px;
    background-color: #438FBB;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    color: white;
    font-size: 14px;
}

.fancy-button:disabled {
    background-color: lightblue;
}

.fancy-button:active,
.fancy-button:focus {
    border: none;
    outline: none;
}

.fancy-button:hover {
    background-color: #5F9FC5;
}

.fancy-button:active {
    background-color: #6EA8CA;
}

.fancy-menu {
    margin: 2px 0;
    padding: 10px;
    color: black;
    font-size: 14px;
    max-height: 700px;
    
    border-radius: 0 3px 3px 0;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.4);
    left: 1px;
    position: absolute;
}

input.fancy-search {
    height: 30px;
    font-size: 14px;
    background-color: #E2E4E6;
    border: 1px solid #CDD2D4;
    border-radius: 3px;
}

input.fancy-search:focus {
    background: #fff;
    border-color: #298FCA;
    box-shadow: 0 0 2px #298FCA;
}