<div class="container">
	<form>
	  <div class="form-group">
	    <label for="inputUsername">{{TEXT_PLACEHOLDER_USERNAME}}</label>
	    <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" id="inputUsername" placeholder={{TEXT_PLACEHOLDER_USERNAME}}>
	  </div>
	  
	  <div class="form-group">
	    <label for="inputPassword">{{TEXT_PLACEHOLDER_PASSWORD}}</label>
	    <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="inputPassword" placeholder={{TEXT_PLACEHOLDER_PASSWORD}}>
	  </div>
	  
	  <button type="submit" class="btn btn-success" (click)='onClickRegister(username, password)'>{{TEXT_REGISTER}}</button>
	</form>
</div>