<div class="modal-header">
	<h4 class="modal-title">Hi there!</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<p>Share to who?</p>
		<input class="form-control" [(ngModel)]="username">
		<label for='iswriteble-checkobx'>Allow to write?
			<input id='iswriteble-checkobx' class="form-check form-check-inline" type='checkbox' [(ngModel)]="isWritable">
		</label>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="onClickShare()">Share</button>
</div>
