<div class="header" align-self-center>
  <div class="jumbotron">
    <h1 class="display-3">{{TEXT_HEADER}}</h1>
    <p class="lead">{{TEXT_LEAD_INFO}}</p>
    <hr class="my-4">
    <p>{{TEXT_SUPPORT_INFO}}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink='register'role="button">{{TEXT_BUTTON_REGISTER}}</a>
    </p>
  </div>

  <ul [dragula]='"bag-one"' >
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
  </ul>

  <ul [dragula]='"bag-one"'>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
  </ul>

</div>