a:hover {
	cursor: pointer;
}

app-boardlist-dropdown {
	margin-top: 4px;
	margin-left: 5px;
}

.navbar-brand {
	margin-right: 0;
}

div.row, 
a.nav-link,
a.btn {
	color: white;
}

.btn {
	background-color: #3F8CB9;
}

div.row {
	background-color: #026AA7;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	max-height: 38px;
	min-width: 400px;
}

.btn-profile, 
img.avatar,
.username {
	height: 30px;
}


img.avatar {
	display: inline-block;
	width: 30px;
	background-color: #D6DADC;
}

.username {
	font-size: 14px;
	display: inline-block;
	border: none;
	background: none;
	padding: 0 10px;
	font-weight: bold;
}

.btn-profile {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	border-radius: 5px;
	margin: 3px 10px;
	padding: 0;
	cursor: pointer;
	background-color: #4893BF;
}

.btn-profile:hover {
	background-color: #5b9ec6;
}

