<div class="fixed-top row no-gutters justify-content-between" data-toggle="sticky-onscroll">
    <nav class="nav">
      <a class="nav-link active navbar-brand" routerLink="home">{{TEXT_BRAND}}</a>
    </nav>

    <nav class="nav" *ngIf='!loginService.isAuthenticated()'>
        <a class="btn btn-primary" routerLink="login">{{TEXT_LOGIN}}</a>
        <a class="btn btn-primary" routerLink="register">{{TEXT_REGISTER}}</a>
    </nav>

    <nav class="nav" *ngIf='loginService.isAuthenticated()'>
        <div class="dropdown">
            <img class='avatar' src="{{loginService.getAvatarUrl()}}" alt="avatar">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{loginService.getUsername()}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink='profile'>{{TEXT_PROFILE}}</a>
                <a class="dropdown-item" (click)="onClickLogout()">{{TEXT_LOGOUT}}</a>
            </div>
        </div>
    </nav>
</div>